


@model BookStore.Models.Books
@{
    ViewData["Title"] = "Details";
}
<br />

<h2 class="text-info">Book Details</h2>
<form asp-action="" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-lg-8">
            <div class="form-group row">
                <div class="col-lg-4">
                    <label asp-for="Title"></label>
                </div>
                <div class="col-lg-8">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="Title" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-lg-4">
                    <label asp-for="Author"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="Author" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-lg-4">
                    <label asp-for="ISBN"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="ISBN" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-lg-4">
                    <label asp-for="Edition"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="Edition" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Edition" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-lg-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="Description" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-lg-4">
                    <label asp-for="YearPublished"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="YearPublished" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="YearPublished" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-lg-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="Price" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
                @*</div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Image"></label>
            </div>
            <div class="col-8">
                <input asp-for="Image" readonly="readonly" class="form-control" type="file" />
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>*@
               

                <div class="form-group row">
                    <div class="col-lg-4">
                        <label asp-for="Condition"></label>
                    </div>
                    <br />
                    <div class="col-lg-8">
                        <textarea asp-for="Condition" readonly="readonly" class="form-control"></textarea>
                    </div>
                    <span asp-validation-for="Condition" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label asp-for="IsAvailable"></label>
                    </div>
                    <div class="col-lg-8">
                        <input asp-for="IsAvailable" readonly="readonly" class="" type="checkbox" />
                    </div>
                    <span asp-validation-for="IsAvailable" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label asp-for="ProductTypeId"></label>
                    </div>
                    <div class="col-lg-8">
                        @*<select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" class="form-control"></select>*@
                        <input asp-for="ProductTypeId" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label asp-for="SpecialTagId"></label>
                    </div>
                    <div class="col-lg-8">
                        @*<select asp-for="SpecialTagId" readonly="readonly" asp-items="ViewBag.SpecialTagId" class="form-control"></select>*@
                        <input asp-for="SpecialTagId" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="SpecialTagId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a type="button" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
                <div class="col-lg-3">
                    <img src="~/@Model.Image" width="190" height="140" style="border-radius: 5px; border: 1px solid #efefef" />
                </div>

            </div>
        <div class="col-1">

        </div>





    </div>
   </div>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}









